[property]

#Enter the location of the key file fro service account credentials
key_file = /Users/monobina/Documents/svcmsaha.json

#Enter resource you want to update : [ project | compute engine | bigquery | bigtable ]
resource_type = bigtable

#Enter input file path for resource and label mapping
label_file = /Users/monobina/Documents/g-work/bigtable_label.txt

#Enter if input file contains header or not. Type: Y/N
header = Yes
