[property]

#Required parameter: Enter the location of the key file fro service account credentials
key_file = ./test_resources/cardinal-data-piper-sbx.json

#Optional Parameter: Discovery API versions: Two discovery API are used in the program.
#"v1" is for project and org look up. "v2" is for folder lookup.
org_api_version = v1
folder_api_version = v2

#Optional Parameter: input file where multiple project ids can be supplied in new lines.
#Or you can look up for one project with command line parameter.
projectid_file = ./config/project_id_file.txt

#Optional Parameter: BigQuery table location information.
bq_project = cardinal-data-piper-sbx
dataset_id = monobina_sbx
table_id = gcp_org_folder_hierarchy








